{% extends 'base.html' %}
{% block head %}<link rel="stylesheet" href="{{ url_for('static', filename='table_style.css') }}">{% endblock %}
{% block title %}
{% if table == "client" %}
Client
{% elif table == "castles" %}
Castles
{% elif table == "orders" %}
Orders
{% elif table == "staff" %}
Staff
{% elif table == "payments" %}
Payment Methods
{% elif table == "sites" %}
Locations
{% elif table == "roles" %}
Job Roles
{% endif %}
{% endblock %}

{% block body %}

{% if table == "client" %}
<h1 class="display-4">Table selected - Client</h1>
{% elif table == "castles" %}
<h1 class="display-4">Table selected - Castles</h1>
{% elif table == "orders" %}
<h1 class="display-4">Table selected - Orders</h1>
{% elif table == "staff" %}
<h1 class="display-4">Table selected - Staff</h1>
{% elif table == "payments" %}
<h1 class="display-4">Table selected - Payments Methods</h1>
{% elif table == "sites" %}
<h1 class="display-4">Table selected - Locations</h1>
{% elif table == "roles" %}
<h1 class="display-4">Table selected - Job Roles</h1>
{% endif %}

<div class="cust-col">
    <form method="POST" class="form-group">
        <fieldset class="input-group">
            <legend class="lead">Choose the table you would like to Enter</legend>
                <select name="table" class="custom-select" id="inputGroupSelect03">
                    <option value="orders" selected>Orders</option>
                    <option value="client">Clients</option>
                    <option value="staff">Staff</option>
                    <option value="castles">Castles</option>
                    <option value="sites">Locations</option>
                    <option value="roles">Job Roles</option>
                    <option value="payments">Payment Methods</option>
                </select>
                <div class="input-group-append">
                    <button class="btn btn-success" type="submit">View Table</button>
                </div>
        </fieldset>
    </form>
</div>

<div class="add_button">
<a class="btn btn-success btn-lg btn-block" href="{{ url_for('add_record', table=table)}}">Add</a>
</div>

<table>
    <tr>
        {% for column in columns %}
        <th>{{ column }}</th>
        {% endfor %}
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    {% for row in data %}
    <tr>
        {% for cell in row %}<td>{{cell}}</td>{% endfor %}
        <td><a class="btn btn-warning warning-btn" href="{{ url_for('edit_record', table=table, id=row[0])}}" class="edit">Edit</a></td>
        <td><button class="btn btn-danger delete-btn" onclick="confirmDelete('{{ url_for('delete_record', table=table, id=row[0]) }}')">Delete</button></td>
    </tr>
    {% endfor %}
</table>

<script>
    function confirmDelete(url) {
      if (confirm('Are you sure you want to delete this record?')) {
        window.location.href = url;
      }
    }
  </script>
{% endblock %}
